/* .pending-complaint-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 3px 6px #00000029;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative; 
  }
  
  .pending-complaint-container p {
    margin: 0;
    font-size: 14px;
  }
  
  .pending-complaint-container:hover {
    transform: scale(1.03);
  } */
  
  /* .complaint-details {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  
  .mark-as-solved-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
  } */
  .search-sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px; 
  }
  

.pending-container {
  background-color: #f0f0f0; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.pending-complaint-container {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease; 
}

.pending-complaint-container:hover {
  background-color: #d5a894; 
  cursor: pointer;
}

.pending-complaint-container .details-overlay {
  display: none;
  position: absolute;
  top:calc(100% + 10px);;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px); 
  max-width: 600px; 
  z-index: 1; 
}

.pending-complaint-container:hover .details-overlay {
  display: block;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}